.signin {
    display: inline-block;
    border: 1px solid grey;
    color: #065fd4;
    padding: 10px 20px;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
}

.signin:hover {
    background-color: #bee0fd;
    border: 1px solid transparent;
}